<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button class="secondary_btn" expand="block" fill="outline" routerLink="/newbien">Ajouter un bien</ion-button>

  <!--création d'une boucle avec ngFor-->

  <ion-list inset="true" *ngFor="let loop of listeBiens">
  <ion-item [routerLink]="['/monbien']" >
    <ion-thumbnail class="ion-margin-end">
      <ion-img src="{{bienImmo.imageURL}}"></ion-img>
    </ion-thumbnail>
    <ion-label>{{bienImmo.labelBien}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
