<ion-header>
  <ion-toolbar>
    <ion-title>Slides</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-slides>
   
    <ion-slide>

      <div class="haut">
        <ion-button size="small" href="/home">Passer</ion-button>
      </div>

      <div>
        <h2>Bienvenue Cô-Lock!</h2>
        <p>Votre application de gestion locative<br>
        Votre aide au quotidien pour tous vos biens en location<br>
        </p>
     </div>

    </ion-slide>


    <ion-slide>

      <h2>Slide 2</h2>
      <div>
        <ion-img src="assets/connexion.png"></ion-img>
      </div>

      <div>
      <p>Restez en contact facilement avec vos propriétaires/locataires a tout moment</p>
      </div>
    </ion-slide>
  

    <ion-slide>

      <div>
        <h2>Slide 3</h2>
          <p>Retrouvez toutes les informations nécessaires de vos biens à un seul endroit</p>
        </div>

      <div class="bas">
        <ion-button href="/home">Suivant</ion-button>
      </div>

    </ion-slide>

  </ion-slides>


</ion-content>

<ion-footer>

</ion-footer>


