<ion-header>
  <ion-toolbar>
    <ion-title>ProfilL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <h2 class="nomPropriétaire"> Locataire X</h2>
     <div class="space-between">
       <div class="compteurbiens">
         <ion-badge color="light" mode="ios">3</ion-badge>
        <p>notifications</p>
       </div>
       


     </div>

  </div>
  <div class="flex">
  <div class="bordureVerte">
  <div class="bordureBlanche">
  <div class="photoProfil">
    <img src="../../assets/user2.png">
  </div>
</div>
</div>
</div>


<h2><b>Mon compte</b></h2>
<ion-card>
   <ion-item lines="none" href ="/home">
    <ion-icon name="settings-sharp" slot="start"></ion-icon>
     <ion-label>
       <h2>Setting 1</h2>
       <p>Setting Description</p>
      </ion-label>
    </ion-item>
</ion-card>

<ion-card>
  <ion-item lines="none" href ="/home">
   <ion-icon name="settings-sharp" slot="start"></ion-icon>
    <ion-label>
      <h2>Setting 2</h2>
      <p>Setting Description</p>
     </ion-label>
   </ion-item>
</ion-card>

<ion-card>
  <ion-item lines="none" href ="/home">
   <ion-icon name="settings-sharp" slot="start"></ion-icon>
    <ion-label>
      <h2>Setting 3</h2>
      <p>Setting Description</p>
     </ion-label>
   </ion-item>
</ion-card>

</ion-content>




