<ion-content [fullscreen]="true">
  <div class="logo">
    <ion-icon color="vert" name="people-circle-outline"></ion-icon>
  </div>

  <ion-card>
  <ion-item>
    <ion-label position="floating" >Nom</ion-label>
    <ion-input type="text" placeholder="Nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input type="text" placeholder="Prénom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" placeholder="adresse mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>

  <ion-button color= "vert" href="/formuleproprio" expand="block">Inscription</ion-button>
  <ion-button color= "gris" expand="block" >Connexion</ion-button> <!--le expand block pemret d'avoir un bouton qui prend toute la largeur-->
 


  </ion-card>

</ion-content>
