<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="retour" defaultHref="/propriologin"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- TOUT MIS EN COMMENTAIRE POUR NE PAS PERDRE LE CODE FAIT LORS DE L'IMPLEMENTATION FIREBASE

<ion-content [fullscreen]="true">
  <div class="logo">
    <ion-icon color="vert" name="people-circle-outline"></ion-icon>
  </div>

  <ion-card>
  <form [formGroup]="essaieForm" (ngSubmit)="submitForm()" novalidate>
  <ion-item>
    <ion-label position="floating" >Nom</ion-label>
    <ion-input formControlName="name" type="text" required placeholder="Nom"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
    le nom est obligatoire.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
    Le nom doit contenir minimum 2 caracteres.
  </span>

  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input formControlName="prenom" type="text" placeholder="Prénom"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.prenom.errors?.required">
    Le prénom est obligatoire.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.prenom.errors?.minlength">
    Le prénom doit contenir minimum 2 caracteres.
  </span>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input formControlName="email" type="email" required placeholder="adresse mail"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
    L'email est obligatoire.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
    L'email doit etre valide.
  </span>

  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input formControlName="password" type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
    Le mot de passe est obligatoire.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
    Le mot de passe doit etre valide.
  </span>

  <ion-button color= "vert" [routerLink]="['/profil-p']" expand="block" >Inscription</ion-button>
  <ion-button color= "vert" expand="block" type="submit" >Connexion</ion-button> le expand block pemret d'avoir un bouton qui prend toute la largeur
  </form>


  </ion-card>

</ion-content>

-->


<ion-content>

  <ion-card class="hello-cmpt">
    <ion-text>
      <h1 class="hello-text">Bievenue chez <br> CÔ-LOCK</h1> <br>
      <h2 class="hello-text2"> Créez-vous un compte en toutes simplicité</h2>
    </ion-text>
  </ion-card>


  <form>

    <div>
      <ion-item>
        <ion-input type="text" name="name" placeholder="Nom" [(ngModel)]="name" >
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="surname" placeholder="Prénom" [(ngModel)]="surname" >
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="email" placeholder="email" [(ngModel)]="email" >
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" name="password" placeholder="*******" [(ngModel)]="password">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="tel" name="tel" placeholder="Numéro de téléphone" [(ngModel)]="tel" >
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>
    </div>

    <ion-button class="primary_btn" expand="block" fill="solid" (click)="login()">S'inscrire</ion-button>

  </form>

  </ion-content>
