<ion-header>
  <ion-toolbar>
    <ion-title>indexation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets/index.png"/>
    <ion-card-header>
      <ion-card-subtitle>Description du bien</ion-card-subtitle>
      <ion-card-title>Maison : 64 avenue de la Chasse</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
