<ion-header>
  <ion-toolbar>
    <ion-title>notif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> Nouvelles requetes de vos locataires </ion-card-header>

    <ion-list >
      <ion-item >
        <ion-label>
          <h2></h2>
          <p>  </p>
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-card>

<ion-card>
  <ion-card-header> Requetes en cours de traitements </ion-card-header>
  <ion-list >
    <ion-item >
      <ion-label>
        <h2></h2>
        <p> </p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-card>

<ion-card>
  <ion-card-header> Historique de vos requetes </ion-card-header>
  <ion-list >
    <ion-item  >
      <ion-label>
        <h2></h2>
        <p> </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-card>

</ion-content>
