<ion-header>
  <ion-toolbar>
    <ion-title>A propos de la requete</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="req">

  <ion-card>
    <ion-card-header> {{req.nom}} </ion-card-header>
    <ion-card-subtitle> Description de la requetes </ion-card-subtitle>
    <ion-card-content> {{req.description}} </ion-card-content>

    <div class="trait_dessus"><hr></div>

    <ion-card-subtitle> Informations à propos de la requete</ion-card-subtitle>
      <ion-card-content> Statut : {{req.etat}} </ion-card-content>
      <ion-card-content> Emise par {{req.authorName}} le {{req.crea.toDate()}}</ion-card-content>
      <ion-card-content> Propriétaire du bien : {{req.nameProprio}} </ion-card-content>
      <ion-card-content> Nom du bien : {{req.bienName}} </ion-card-content>
      <ion-card-content> Debut du traitement : {{req.inprogress.toDate()}} </ion-card-content>
      <ion-card-content> Fin du traitement : {{req.finish.toDate()}} </ion-card-content>

      <div class="trait_dessus"><hr></div>

    <ion-card-subtitle> Modifier le statut de la requete</ion-card-subtitle>
      <p class="statut">
        <ion-chip (click)="statutNew()" color="success">
          <ion-label>Nouveau</ion-label>
        </ion-chip>

        <ion-chip (click)="statutWorking()" color="warning">
          <ion-label>En cours</ion-label>
        </ion-chip>

        <ion-chip (click)="statutFinish()" color="danger">
          <ion-label>Terminée</ion-label>
        </ion-chip>
      </p>


  </ion-card>


</ion-content>
