<ion-header>
  <ion-toolbar>
    <ion-title>Connectez-vous!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-button href="/slide"> Slides </ion-button>
  </div>
  
  <div> 
    <img src="image/img1.png">
  </div>

  <div class="titre">
    <p style="font-size: 0.8cm;">Qui êtes vous?</p>
  </div>

  <div class="full-width"> 
    <ion-button expand="full" color="vert" href="/propriologin">Propriétaire</ion-button>  
  </div>

  <div class="full-width2">
    <ion-button expand="full" color="vert">Locataire</ion-button>
  </div>

</ion-content>