.full-width{
  position: relative;
  top: 15%;
  --background : #455F51 ;
  }


.titre{
  position: relative;
  top: -4%;
  left: 19%;

}

p{
  position: absolute;
  color: black;
}

.regist{
  position: relative;
  top: 20%;
  left: 10%;
}

.lien{
  color:dimgrey;
}

.bonjour{
  position: relative;
  top: -10%;
  left: 32%;
}

.sli{
  position: relative;
  top: 25%;
  left: 20%;
}
