.full-width{
  position: relative;
  top: 50%;
}

.full-width2{ 
  position: relative;
  top: 34%; 
}

.titre{
  color:#545454;
  position: relative;
  top: 20%;
  left: 14%;
  
}

p{
  position: absolute;
  color: black;
}

.regist{

  position: relative; 
  top: 60%;
  left: 8.5%;

}

.lien{
  color:dimgrey;
}