<ion-content>

  <div>
    <img src="assets/logofinal.png">
  </div>

  <div class="bonjour">
      <p style="font-size: 0.8cm;"> Bonjour! </p>
  </div>

  <div class="titre">
    <p style="font-size: 0.8cm;">Qui êtes vous?</p>
  </div>

  <div class="full-width"> 
    <ion-button expand="full" color="vert" href="/propriologin">Propriétaire</ion-button>  
  </div>

  <div class="full-width2">
    <ion-button expand="full" color="vert">Locataire</ion-button>
  </div>

  <div class="regist"> 
    <p style="font-size: 0.3cm">Vous avez déja un compte? <a class="lien" href="/monbien">Connectez vous!</a> </p>
  </div>

  <div class="sli"> 
    <p style="font-size: 0.3cm">C'est quoi Cô-Lock? <a class="lien" href="/slide">Cliquez ici!</a> </p>
  </div>
  
</ion-content>